{% extends 'base.html' %}

{% block css %}

    <style type="text/css">
    .mainbody{
        width: auto;
        background-color: #FFF;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        overflow:hidden;
    }
    .col-1 {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    #add{
        margin-bottom: 10px;
    }
    .tijiao{
        border: 1px solid #dddddd;
    }
    </style>

{% endblock %}

{% block body %}

<div class="content">
    <ol class="breadcrumb" style="margin-bottom: 0px">
       <li><a href="#"><span class="glyphicon glyphicon-home"></span>首页</a></li>
       <li><a href="#">数据审核</a></li>
       <li class="active">Data</li>

    <div class="timePlace right">
        <span  id="timePlace"></span>
    </div>

    </ol>

<div style="margin-left: 20px;margin-right: 20px;">
    <div class="page-header" style="margin:3px 0px 3px 0px">
        <h2 style="margin-left: 8px"><strong>审核结果</strong>&nbsp;<small>Meter Check Result  >></small></h2>
    </div>
    <br>

<div class="text-left">
    <form class="form-horizontal" style="font-size: 16px" action="/checkresult/" method="POST" id="checkresult">
         {% csrf_token %}
          <div class="col-md-12">
          <div class="col-md-3">
              <div class="form-group">
                  <label class="control-label col-md-3">表号：</label>
                  <div class="col-md-8">
                  {{ q_form.MeterId }}
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <label class="control-label col-md-4">表类型：</label>
                  <div class="col-md-6">
                  {{ q_form.MeterType }}
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <label class="control-label col-md-4">生产厂商：</label>
                  <div class="col-md-6">
                  {{ q_form.ManufactureName_id }}
                  </div>
              </div>
          </div>
          </div>
          <div class="col-md-12">
          <div class="col-md-3">
              <div class="form-group">
                  <label class="control-label col-md-3">表状态：</label>
                  <div class="col-md-8">
                  {{ q_form.DataCheckedResult }}
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <label class="control-label col-md-4">提交日期：</label>
                  <div id="datetimepicker_q40" class="col-md-6 input-group">
                      <div class="input-group-addon date"><span class="add-on glyphicon glyphicon-calendar"></span></div>
                      {{ q_form.Subtime }}
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <label class="control-label col-md-4">审核日期：</label>
                  <div id="datetimepicker_q41" class="col-md-6 input-group">
                      <div class="input-group-addon date"><span class="add-on glyphicon glyphicon-calendar"></span></div>
                      {{ q_form.CheckTime }}
                  </div>
              </div>
          </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" class="btn btn-default" value="查询"/>
          </div>
    </form>
</div>

{% if meter_list %}
<table id="test" class="table table-bordered table-hover">
   <thead>
        <tr style="font-size: 16px">
            <th class="text-center">序号</th>
            <th class="text-center">燃气表表号</th>
            <th class="text-center">燃气表类型</th>
            <th class="text-center">生产厂商</th>
            <th class="text-center">上次审核时间</th>
            <th class="text-center">审核人员</th>
            <th class="text-center">状态</th>
            <th class="text-center">操作</th>
        </tr>
  </thead>
  <tbody>
  {% for meter in meter_list %}
        <tr class="text-center" style="font-size: 16px">
            <td>{{ forloop.counter }}</td>
            <td>{{ meter.MeterId }}</td>
            <td>{{ meter.MeterType }}</td>
            <td>{{ meter.ManufactureName.ManufactureName }}</td>
            <td>{{ meter.CheckTime }}</td>
            <td>{{ meter.check_user }}</td>
            <td style="font-weight: bolder">
                {% if meter.DataCheckedResult == 1 and meter.IsTest == 0 %}
                通过
                {% elif meter.DataCheckedResult == 0 and meter.IsTest == 0%}
                不通过
                {% elif meter.DataCheckedResult == 1 and meter.IsTest == 1%}
                本次测试完成！
                {% endif %}
            </td>
            <td>
                <a href="/check_data/?MeterId={{ meter.MeterId }}&MeterType={{ meter.MeterType }}&p2=look">查看</a>
                {% if meter.IsTest == 0 %}
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="javascript:" onclick="back(this,'{{ meter.MeterId }}')">重审</a>
                {% endif %}
            </td>
        </tr>
  {% endfor %}
  </tbody>
</table>
{% elif meter%}
<table id="test" class="table table-bordered table-hover">
   <thead>
        <tr style="font-size: 16px">
            <th class="text-center">序号</th>
            <th class="text-center">燃气表表号</th>
            <th class="text-center">燃气表类型</th>
            <th class="text-center">生产厂商</th>
            <th class="text-center">上次审核时间</th>
            <th class="text-center">审核人员</th>
            <th class="text-center">状态</th>
            <th class="text-center">操作</th>
        </tr>
  </thead>
  <tbody>
        <tr class="text-center" style="font-size: 16px">
            <td>{{ forloop.counter }}</td>
            <td>{{ meter.MeterId }}</td>
            <td>{{ meter.MeterType }}</td>
            <td>{{ meter.ManufactureName.ManufactureName }}</td>
            <td>{{ meter.CheckTime }}</td>
            <td>{{ meter.check_user}}</td>
            <td style="font-weight: bolder">
                {% if meter.DataCheckedResult == 1 and meter.IsTest == 0 %}
                通过
                {% elif meter.DataCheckedResult == 0 and meter.IsTest == 0%}
                不通过
                {% elif meter.DataCheckedResult == 1 and meter.IsTest == 1%}
                本次测试完成！
                {% endif %}
            </td>
            <td>
                <a href="/check_data/?MeterId={{ meter.MeterId }}&MeterType={{ meter.MeterType }}&p2=look">查看</a>
                {% if meter.IsTest == 0 %}
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="javascript:" onclick="back(this,'{{ meter.MeterId }}')">重审</a>
                {% endif %}
            </td>
        </tr>
  </tbody>
</table>
{% else %}
     <div style="margin-top: 40px;margin-left: 50px"><h3>未查询到相关数据！</h3></div>
{% endif %}

<div class="col-md-12 text-right">
<nav aria-label="Page navigation">
  <ul class="pagination">
      {{ page_info.pager|safe }}
  </ul>
</nav>
</div>

</div>

</div>
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function(){
     $('#datetimepicker_q40').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn'),
      })
	   });
    $(document).ready(function(){
     $('#datetimepicker_q41').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn'),
      })
	   });
$.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        });
function back(the,MeterId) {
    layer.open({
        type: 1,
        skin: "layerui-layer-rim",
        area:["360px","180px"],
        title:"重新审核表信息",
        content: '<div style="margin-left:20px;margin-top:20px;"><h4>是否重新审核'+MeterId+'表信息</h4></div>',
        btn: ['确定', '取消'],
        yes: function () {
            $.ajax({
                url: '/back/',
                type: "POST",
                data: {
                    "MeterId":MeterId,
                },
                success: function (e) {
                    if (e == "1") {
                        layer.msg("重审成功");
                        parent.layer.close(e);
                        setTimeout("window.location.reload()","1000");
                    }else if(e == "3"){
                        layer.msg("准备测试，重审失败");
                        parent.layer.close(e);
                        setTimeout("window.location.reload()","1000");
                    }else{
                        layer.msg("重审失败");
                        parent.layer.close(e);
                        setTimeout("window.location.reload()","1000");
                    }
                },
            });
        },
    });
}

$(document).ready(function() {
    $("#test td:contains('通过')").parent().css("background","#b2dba1");
    $("#test td:contains('不通过')").parent().css("background","#e4b9b9");
});

</script>
{% endblock %}
